#legend {
  height: 100px;
  width: 560px;
}
#legend g {
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: gray;
}
#tooltip{
  line-height: 1px;
  background-color: lightblue;
  padding: 0 20px;
}
.county:hover {
  fill: black;
}
#canvas {
  background: navy
}
